.header {
    background-color: #9a2020;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.titulo {
    display: flex;
    align-items: center;
    color: white;
}

.titulo>h1 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
    text-align: center;
}

.logoCotuca {
    height: 48px;
    transition: transform 0.3s ease;
}

.logoCotuca:hover {
    transform: scale(1.05);
}

.menu {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 60vw;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.linkMenu>a {
    display: inline;
    color: white;
    text-decoration: none;
    background-color: rgb(112, 21, 21);
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    padding: 8px;
    margin-left: 10px;
}

.linkMenu a:hover {
  background-color: #5c0d0d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}