.body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(104, 102, 102);
}

.selectOperacao{
    color: black;
}

.selectOperacao>select{
    background-color: white;
}

.form{
    background-color: white;
    color: black;
}